@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  display: inline-flex;
}
.sidebar {
  width: 300px;
  height: 99vh;
  border-right: 0.8px solid #cacaca;;
  position: sticky;
  top: 0;
  font-family: 'Quicksand', sans-serif;
}
.sidebar-content {
  text-align: center;
  margin-top:150px;
  img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: center;
    box-shadow: 1px 1px 5px rgba(240, 240, 240, 0.8);
    margin-bottom: 16px;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
}
.sidebar-btns {
  line-height: 3em;
  padding: 8px 24px;
  color: #949494;
  border-radius: 30px;
  transition: 0.2s linear;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(205, 135, 252);
  }
}